:root {
        --focus: #a9a9ff;

        --desktop-bg: #8787af;

        --button-bg: #708c8d;
        --button-fg: #ffffff;
        --button-active-bg: #5f7777;
        --button-active-fg: #ffffff;
        --button-dark: #384646;
        --button-light: #becbcb;

        --input-bg: #967878;
        --input-fg: #ffffff;
        --input-dark: #4b3c3c;
        --input-light: #cfc2c2;

        --dialog-button-bg: #708c8d;
        --dialog-button-fg: #ffffff;
        --dialog-button-active-bg: #5f7777;
        --dialog-button-active-fg: #ffffff;
        --dialog-button-dark: #384646;
        --dialog-button-light: #becbcb;

        --title-bar-bg: #708c8d;
        --title-bar-fg: #ffffff;
        --title-bar-dark: #384646;
        --title-bar-light: #becbcb;

        --title-bar-active-bg: #a9a9ff;
        --title-bar-active-fg: #000000;
        --title-bar-active-dark: #5d5d8c;
        --title-bar-active-light: #dadaff;
}

/* skin : chocolate-4 */
/* ------------------ */

:root {
        --focus: #a9a9ff;

        --desktop-bg: #8787af;

        --button-bg: #708c8d;
        --button-fg: #ffffff;
        --button-active-bg: #5f7777;
        --button-active-fg: #ffffff;
        --button-dark: #384646;
        --button-light: #becbcb;

        --input-bg: #967878;
        --input-fg: #ffffff;
        --input-dark: #4b3c3c;
        --input-light: #cfc2c2;

        --dialog-button-bg: #708c8d;
        --dialog-button-fg: #ffffff;
        --dialog-button-active-bg: #5f7777;
        --dialog-button-active-fg: #ffffff;
        --dialog-button-dark: #384646;
        --dialog-button-light: #becbcb;

        --title-bar-bg: #708c8d;
        --title-bar-fg: #ffffff;
        --title-bar-dark: #384646;
        --title-bar-light: #becbcb;

        --title-bar-active-bg: #a9a9ff;
        --title-bar-active-fg: #000000;
        --title-bar-active-dark: #5d5d8c;
        --title-bar-active-light: #dadaff;
}

/* Patch Delphine */
/* -------------- */

/*
.delphine-form {
        background-color: #c0c0c0;
}
        */

.delphine-panel {
        box-shadow: var(--shadow-inner-4);
}

h1 {
        font-size: 5rem;
}

h2 {
        font-size: 2.5rem;
}

h3 {
        font-size: 2rem;
}

h4 {
        font-size: 1.5rem;
}

u {
        text-decoration: none;
        border-bottom: 0.5px solid #222222;
}
